.navbar-brand {
    font-family: fantasy;
    font-size: 2rem;
}
.article-one img {
    float: left;
    padding: 5px;
}
.article-two img {
    float: right;
    padding: 5px;
}
.carousel-item active {
    max-height: 500px;
}
body {
    background-image: url("../images/roses.jpg");
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: auto;
}

.font {
    font-style: italic;
    color: beige;
}
.underline {
    text-decoration: underline;
}
.topics img {
    margin: 5px;
    float: left;
}
.sotial {
    max-width: 30px;
    max-height: 30px;
}
.contacts p{
    display: inline;
    font-size: 1.4rem;
    padding: 0 100px 0px 0px;
}
.info {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}
.card {
    background-color: darkgrey;
}
.card-body {
    background-color: beige;
}
.contacts {
    margin: 5px;
}
.font br {
    clear:left;
}
.link {
    font-size: 1.5rem;
}