.article-one img {
    float: left;
    padding: 5px;
}
.article-two img {
    float: right;
    padding: 5px;
}
.carousel-item active {
    max-height: 500px;
}
body {
    background-image: url("../images/roses.jpg");
    background-repeat: no-repeat;
    max-width: 960px;
    margin: auto;
}

.font {
    font-style: italic;
    color: beige;
}
.underline {
    text-decoration: underline;
}
.topics img {
    margin: 5px;
    float: left;
}
.sotial {
    max-width: 30px;
    max-height: 30px;
}
.contacts p{
    display: inline;
    font-size: 1.4rem;
    padding: 0 60px 0px 0px;
}
.info {
    font-style: bold;
    color: black;
    text-align: center;
}